<h2><%= @book.name %></h2>
<%= link_to("By #{author.name}", "/authors/#{author_id}") %>
<%= image_tag(@book.image_url) %>
<p><%= @book.description %></p>

<%= link_to("Edit Book", "/books/#{@book.id}/edit") %>
<%= link_to("Delete Book", "/books/#{@book.id}") %>